<%- include('partials/head'); -%> 

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Position</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% for(let record of records) { %> 
            <tr>
                <td><%= record.id %> </td>
                <td><%= record.name %> </td>
                <td><%= record.email %> </td>
                <td><%= record.address %> </td>
                <td><%= record.position %> </td>
                <td><%= record.status %> </td>
            </tr>
        <% } %> 
    </tbody>
</table>


<%- include('partials/footer') %> 